/* Pre Defined  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    color: #333333;
}

/* Global Classes */
.col-in-block{
    float: none;
    vertical-align: middle;
    display: inline-block;
}

.v-middle{
    vertical-align: middle;
}

.tbl{
    display: table;
}

.tbt-cell{
    display: table-cell;
}

.section{
    width: 100%;
    position: relative;
}

/* Main Styles */

.mainContainer{
    width: 100%;
    height: auto;
    position: relative;

    header{

        z-index: 100;
        background-color: #ffffff;
        transition: 0.5s ease-in-out;
        position: relative;
        
        // @media(max-width: 768px){
        //     &{
        //         position: fixed;
        //         top: 0;
        //         left: 0;
        //         right: 0;
        //         height: 80px;
        //     }
        // }

        .top{

            position: relative;
            transition: 0.8s ease-in-out;

            .logoNav{

                h1{
                    cursor: pointer;
                }

                @media(max-width: 768px){
                    &{
                        padding: 20px;
                    }
                }
            }

            .menuMobile{
                position: absolute;
                top: 25px;
                right: 0;
                display: block;

                i{
                    cursor: pointer;
                }
            }

            .navItems{

                ul{
                    white-space: nowrap;
                    font-size: 0px;
                    margin: 0;

                    li{
                        display: inline-block;
                        padding: 14px 16px;
                        position: relative;
                        

                        a{
                            display: block;
                            font-size: 14px;
                            padding: 14px 16px;
                            text-decoration: none;
                            color: black;
                            position: relative;

                            &:hover{
                                &::before{
                                    content: '';
                                    position: absolute;
                                    top: 100%;
                                    border: 2px solid #BD4A47;
                                    width: 100%;
                                    left: 0;
                                    
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom{
            width: 100%;
            background-color: black;
            text-align: center;

            ul{

                font-size: 0;
                white-space: nowrap;

                li{
                    display: inline-block;
                    padding: 15px 35px;

                    &:hover{
                        background-color: #BD4A47;
                    }
                    &:hover .vestuarioDrop{
                        visibility: visible;
                    }

                    &:hover .mascDrop{
                        visibility: visible;
                    }
                    
                    a{
                        font-size: 14px;
                        color: white;
                        text-decoration: none;
                        position: relative;
                        
                        display: block;

                        &::before{
                            font-family: "Font Awesome 5 Free";
                            content: "\f0d7";
                            font-weight: 900;
                            padding: 0 5px 0 0;
                        }
                    }
                }
            }

            .vestuarioDrop{
                position: absolute;
                top: 98%;
                background-color: #BD4A47;
                width: 20%;
                left: 16%;
                z-index: 3;
                visibility: hidden;
                float: none;
                text-align: center;
                z-index: 30;

                ul{

                    white-space: nowrap;
                    font-size: 0;

                    li{

                        display: block;
                        padding: 0;
                        padding: 14px 16px;

                        &:hover{
                            background-color: #ffff;
                            
                            a{
                                color: #333333;
                            }
                        }

                        a{
                            font-size: 14px;
                            display: block;

                            &::before{
                                content: none;
                            }

                        }
                    }
                }

                @media(min-width: 768px) and (max-width: 990px){
                    &{
                        left: 2%;
                    }
                }

                @media(min-width: 990px) and (max-width: 1200px){
                    &{
                        left: 10%;
                    }
                }
                
            }

            .mascDrop{
                position: absolute;
                top: 100%;
                background-color: #ffffff;
                width: 100%;
                height: 100px;
                left: 0;
                z-index: 3;
                visibility: hidden;
            }
        }
    }

    .hero{
        width: 100%;
        position: relative;
        background: url('https://images.pexels.com/photos/2087185/pexels-photo-2087185.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940.png') no-repeat center/cover;
        background-attachment: fixed;
        height: 80vh;

        
    }

    .section-2{
        
        // background-color: black;
        
        @media(min-width: 992px){
            padding: 100px 0;
        }

        .contentSec2{
            text-align: right;
            float: right;

            h2{
                font-size: 55px;
                padding: 15px;

                @media(min-width: 992px){
                    font-size: 75px;
                }

                span{
                    color: red;
                }
            }

            p{
                line-height: 34px;
                width: 300px;
                float: right;
                padding: 15px 25px;
                font-weight: 900;
            }

            @media (max-width: 992px){
                text-align: center;
                float: none;

                &{
                    p{
                        float: none;
                        width: 100%;
                    }
                }
            }
        }

        .centerDIV{
            padding: 20px;
            text-align: center;

            .displayNewProduto{
                padding: 25px 0px;
                position: relative;

                .info{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    visibility: hidden;

                    h1{
                    }

                    p{
                        font-weight: 400;
                        text-align: center;
                    }
                }

                &::before{
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    content: "\f054";
                    font-weight: 900;
                    top: 50%;
                    right: 15%;
                    cursor: pointer;
                }

                &::after{
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    content: "\f053";
                    font-weight: 900;
                    top: 50%;
                    left: 15%;
                    cursor: pointer;
                }

                @media(max-width: 768px){
                    &::before{
                        content: none;
                    }

                    &::after{
                        content: none;
                    }
                }

                img{
                    border-radius: 35px;
                }


                a{
                    padding: 6px;
                    background-color: black;
                    color: #ffff;
                    border-radius: 35px;
                    text-decoration: none;
                    transition: 0.5s ease;

                    &:hover{
                        background-color: red;
                    }
                }
            }
        }

        & {
            position: relative;
            background: #ffff;
            border: 4px solid #f5f5f5;
            z-index: inherit;
        }

        &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        &:after {
            border-color: rgba(0, 0, 0, 0);
            border-top-color: #ffff;
            border-width: 30px;
            margin-left: -30px;
        }
        &:before {
            border-color: rgba(245, 245, 245, 0);
            border-top-color: #f5f5f5;
            border-width: 36px;
            margin-left: -36px;
        }
    }

    .section-3{
        background-color: #0A4D77;
        z-index: -1;
        color: white;
        padding: 30px;
        text-align: center;
        margin: 0 auto;

        @media(min-width: 992px){
            padding: 100px 0;
        }

        .item{
            text-align: center;
            margin: 0 auto;

            i{
                padding: 15px 0px;
                cursor: pointer;

                &:hover{
                    color: red;
                }
            }

            p{
                padding: 15px;
                text-align: center;
            }
        }
    }

    .section-4{

    }

    .formWrapper{
        width: 100%;
        position: relative;
        background-color: #BD4A47;
        height: 100vh;

        .formLogin{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            h1{
                font-weight: 700;
                padding: 25px;

                span{
                    position: relative;

                    &::before{
                        content: '';
                        position: absolute;
                        top: 100%;
                        border: 2px solid blue;
                        width: 100%;
                    }
                }
            }

            form{
                input{
                    padding: 14px 16px;
                    width: 300px;
                }

                button{
                    padding: 16px;
                    width: 50%;
                    background-color: #0A4D77;
                    border: none;
                    outline: none;
                    color: white;
                }

                a{
                    
                }
            }
        }

        
    }

    .section-5{
        //background-color: red;

        .menuMinhaConta{
            background-color: #406C99;
            height: 90vh;

            h3{
                text-align: center;
                padding: 15px;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    width: 80%;
                    border: 1px solid black;
                    top: 100%;
                    left: 20px;
                }
            }

            ul{
                list-style-type: none;
                font-size: 0;
                white-space: nowrap;

                li{
                    position: relative;
                    padding: 14px 16px;

                    &:hover{
                        background-color: #f5f5f5;

                        a{
                            color: #333333;
                        }
                    }

                    a{
                        font-size: 14px;
                        color: #ffff;
                        text-decoration: none;
                    }
                }
            }

            .minhaContaIcons{
                padding: 14px 16px;
                margin: 15px;
                text-align: center;

                i{
                    color: #ffff;
                    padding: 15px;
                    cursor: pointer;
                }
            }

        }

        .minhaContaMain{
            position: relative;
            color: #ffff;

            .container{
                max-width: 100%!important;
            }

            i{
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                color: #333333;
            }

            h1{
                text-align: center;
                padding: 15px;
                margin: 15px;
                background-color: #5168E3;
                color: #ffffff;
            }

            h4{
                color: #ffffff;
                padding: 5px;
                max-width: 100%;
            }

            .isAdmin{
                width: 100%;
                display: block;

                button{
                    background-color: black;
                    border: none;
                    outline: none;
                    padding: 14px;
                    margin: 10px;

                    a{
                        color: white;
                        text-decoration: none;
                    }

                    &:hover{
                        background-color: #BD4A47;
                        color: #fff;
                    }
                }
            }
        }
    }

    .addWrapper{
        width: 100%;
        height: 100vh;
        position: relative;

        .formAddWrapper{
            width: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            form{
                input{
                    padding: 14px 16px;
                    width: 100%;
                } 

                button{
                    padding: 14px 16px;
                    border: none;
                    outline: none;
                    width: 55%;
                    background-color: green;
                    color: #fff;
                }
            }
        }
    }

    .showProds{
        border: 2px solid red;
        padding: 14px 16px;
        margin: 5px;
        text-align: center;

        .eachProd{
            border: 2px solid blue;
            margin: 20px 0px;
            min-height: 300px;

            img{
                padding: 14px;
            }
        }
    }

}